
html,body {
    background-color: black;
    height: 100%;
    margin: 0;
    font-family: "Exo";
}

.whiteText {
    color: white;
}

.grayText{
  color: rgb(150, 150, 150);
}

.centerText {
    text-align: center;
}

.extraBig {
    font-size: 7rem;
}

.mediumFont {
  font-size: 3rem;
}

#header{
  margin-top: 4rem;
  height: 25vh;
}

#content {
    background-color: #0f0f0f;
    height: 65vh;
    padding: 1rem 1rem 1rem 1rem;
    border: #2b2b2b solid;
    border-radius: 2rem;
}

#outputRow{
    display: block;
    height: 55vh;
    overflow-y: scroll;
    margin: 0.5rem 0 0.5rem 0;
}

#inputBox{
    width: 100%;
    height: 100%;
}

#buttonEnter{
    width: 100%;
}

@font-face {
    font-family: "Exo";
    src: url("Exo/static/Exo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Exo";
    src: url("Exo/static/Exo-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Exo";
    src: url("Exo/static/Exo-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Exo";
    src: url("Exo/static/Exo-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }